<h1>Edit Announcement</h1>
<br>

<%= render 'form', announcement: @announcement %>

<%= link_to 'Show', @announcement, :class => "ui primary button" %>
<%= link_to 'Back', announcements_path, :class => "ui primary button" %>
